Pyrogram==2.0.106
TgCrypto
aiohttp==3.8.4
pyromod
python-dotenv
dnspython
motor
Pillow
hachoir
mutagen
psutil
aiofiles
beautifulsoup4
gunicorn==20.1.0
numpy
yt-dlp==2023.11.16
olefile
loggers
filetype
tldextract
lk21
Flask==2.2.2
